body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
.margin {margin-bottom: 20px;}
.bg-1 {
  background-color: #48a9d6; /* Blue */
  color: #ffffff;
}
.bg-2 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.alignL{
  text-align: left;
}
.alignR{
  text-align: right;
}
.img{
  height: 90%;
  width: 40%;
}
